.backGroundImgs {
  border: none;
  margin: 90px 60px;
  border-radius: 40px;
  box-shadow: 5px 5px 20px;
  /* height: 3600px; */
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backGroundImgs h2 {
  font-size: 80px;
  color: rgb(255, 153, 37);
  margin-bottom: 70px;
}

.planOne {
  border: none;
  padding: 30px;
  margin: 60px 0;
  height: 350px;
  width: 1300px;
  border-radius: 40px;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 20px;
}
.planOne p,
.planTwo p {
  color: rgb(0, 87, 99);
}
.planOne h4,
.planTwo h4 {
  color: rgb(255, 153, 37);
  font-size: 30px;
}

.planTwo {
  border: none;
  padding: 30px;
  height: 500px;
  width: 1300px;
  border-radius: 40px;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 20px;
}

.planOne div a {
  text-decoration: none;
  color: rgb(255, 153, 37);
  font-size: 90px;
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planTwo div a {
  text-decoration: none;
  color: rgb(255, 153, 37);
  font-size: 90px;
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planOne div {
  width: 50%;
  text-decoration-line: ;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid red 1px; */
  text-align: center;
}

.planTwo div {
  text-align: center;
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planOne p {
  width: 50%;
  margin: 100px;
  font-size: 21px;
}

.planTwo p {
  width: 50%;
  margin: 100px;

  font-size: 21px;
}

.planOne,
.planTwo {
  border: none;
  padding: 0;
  margin: 20px 0;

  width: 90%;
  border-radius: 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px;
}
.planOne {
  height: 400px;
}

.planTwo {
  height: 560px;
}

.planOne p,
.planTwo p {
  width: 90%;
}
.planOne h4,
.planTwo h4 {
  font-size: 30px;
}
.backGroundImgs h2 {
  margin-bottom: 40px;
}

@media (max-width: 480px) {
  .backGroundImgs {
    border: none;
    margin: 0;

    box-shadow: 0px 0px 0px;
    height: 2700px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 1420px) {
  .backGroundImgs h2 {
    font-size: 60px;
    width: 700px;
    text-align: center;
  }
}

@media (max-width: 980px) {
  .planTwo {
    border: none;
    padding: 0px;
    height: 650px;
    width: 600px;
    border-radius: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 20px;
  }
  .planTwo p {
    width: 70%;
    margin: 10px;
    font-size: 20px;
  }
  .planOne p {
    width: 70%;
    margin: 10px;
    font-size: 22px;
  }
  .planTwo div a {
    text-decoration: none;
    color: gray;
    font-size: 50px;
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .planOne div a {
    text-decoration: none;
    color: gray;
    font-size: 50px;
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .backGroundImgs {
    border: black solid 1px;
    box-shadow: 5px 5px 20px;
    margin: 30px 10px 0px;
    border-radius: 40px;
    box-shadow: 0px 0px 0px;
    height: 3300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .backGroundImgs h2 {
    font-size: 50px;
  }
  .backGroundImgs img {
    height: 200px;
    width: 300px;
  }
  .backGroundImgs h4 {
    margin-top: 5px;
  }
  .planOne {
    border: none;
    padding: 0px;
    height: 500px;
    width: 600px;
    border-radius: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 20px;
  }
}
