/* ---------------------------------MATERIALS PAGES--------------------------------- */
.topColor {
  background: black;
  background: rgb(0, 87, 99);
  padding-top: 80px;
  color: rgb(255, 145, 0);
  /* color: red; */
  background: linear-gradient(
    55deg,
    rgb(0, 61, 61) 25%,
    rgb(255, 235, 198) 25%,
    rgb(255, 235, 198) 50%,
    rgb(0, 61, 61) 50%,
    rgb(0, 61, 61) 75%,
    rgb(255, 235, 198) 75%,
    rgb(255, 235, 198) 100%,
    rgb(0, 61, 61) 100%
  );
}

.planFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textColor {
  font-size: 200px;
  color: rgb(255, 145, 0);
}
.dataAnalytics {
  font-size: 180px;
}

.materialInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#backGroundImgs {
  border: none;
  margin: 90px 60px;
  height: 2100px;
  border-radius: 40px;
  box-shadow: 5px 5px 20px;
}

#img {
  height: 300px;
  margin: 100px 1500px 0 180px;
}

.plan {
  border: none;
  margin: 25px 50px;
  padding: 30px;
  height: 870px;
  width: 650px;
  border-radius: 40px;
  font-size: 22px;
  box-shadow: 5px 5px 20px;
}

.generalInfo {
  text-align: center;
  margin-top: 30px;
}

.courseOutline {
  text-align: center;
  margin-top: 30px;
}
.data {
  font-size: 130px;
}

.planUL {
  text-align: left;
  line-height: 1.6;
  margin-top: 60px;
}

.marginPlan {
  margin: 0px 40px;
}

.plan p {
  line-height: 1.6;
}

.tables {
  flex-direction: column;
  border: none;
  text-align: center;
  margin: 25px 50px;
  padding: 30px;
  height: 550px;
  width: 650px;
  border-radius: 40px;
  font-size: 20px;
  box-shadow: 5px 5px 20px;
}

.tuitionAndDates {
  font-size: 50px;
}

.teacher {
  margin-top: 40px;
}

.teacherCard {
  text-align: center;
  border: none;
  width: 650px;
  margin: 30px;

  background: rgb(0, 87, 99);
  border-radius: 40px;
  height: 550px;
  padding: 30px 80px;
  box-shadow: 5px 5px 20px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: rgb(255, 153, 37);
}
#mernIcon {
  margin-right: 300px;
}

.teacherImg {
  margin: 0px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

@media (max-width: 1400px) {
  .materialInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #img {
    display: none;
  }
  #backGroundImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 2600px;
    border: none;
    width: 100%;

    border-radius: 0;
    margin: 0;
    box-shadow: 0px 0px 0px;
  }
  #mernIcon {
    margin-right: 0;
  }

  .tables {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 20px;

    border: none;
    margin: 0;
    padding: 0px;

    width: 90%;
    border-radius: 0;
    font-size: 20px;
    margin: 20px 0;
  }
  .teacherImg {
    margin: 0px;
    height: 160px;
    width: 160px;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  .teacher h2 {
    font-size: 20px;
  }
  .teacherCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: black 5px 5px 20px;

    padding: 0 20px;

    width: 90%;
    border-radius: 0;
    font-size: 18px;
    margin: 20px 0;
  }
  .tuitionAndDates {
    font-size: 40px;
  }
  .topColor {
    padding-top: 80px;
    height: 640px;
  }
  .scrollUp {
    display: none;
  }
  .generalInfo,
  .courseOutline {
    font-size: 26px;
  }
  .planUL {
    margin-right: 15px;
  }

  .plan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 20px;
    height: 640px;

    border: none;
    margin: 20px 0;
    padding: 0px 20px 20px;

    width: 90%;
    border-radius: 0;
    font-size: 13px;
  }
  .planFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .textColor {
    font-size: 60px;
  }
  .data {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  .materialInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #img {
    display: none;
  }
  #backGroundImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 2600px;
    border: none;

    width: 100%;

    border-radius: 0;
    margin: 0;
    box-shadow: 0px 0px 0px;
  }
  #mernIcon {
    margin-right: 0;
  }

  .tables {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 20px;

    border: none;
    margin: 0;
    padding: 0px;

    width: 90%;
    border-radius: 0;
    font-size: 12px;
    margin: 20px 0;
  }
  .teacherImg {
    margin: 0px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .teacher h2 {
    font-size: 14px;
  }
  .teacherCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: black 5px 5px 20px;
    padding: 0 20px;
    width: 90%;
    border-radius: 0;
    font-size: 12px;
    margin: 20px 0;
  }
  .tuitionAndDates {
    font-size: 40px;
  }
  .topColor {
    padding-top: 80px;
    height: 640px;
  }
  .scrollUp {
    display: none;
  }
  .generalInfo,
  .courseOutline {
    font-size: 26px;
  }
  .planUL {
    margin-right: 15px;
  }

  .plan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 20px;
    height: 640px;

    border: none;
    margin: 20px 0;
    padding: 0px 20px 20px;

    width: 90%;
    border-radius: 0;
    font-size: 13px;
  }
  .planFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .textColor {
    font-size: 60px;
  }
  .data {
    font-size: 60px;
  }
}
