#contacts {
  margin: 0px;
  color: black;
  /* border: black solid 1px; */
  background: rgb(0, 87, 99);
  border: none;
  margin: 90px 60px;
  border-radius: 40px;
  box-shadow: 5px 5px 20px;
  padding: 100px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.theContactPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactsTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  /* border: solid black 1px; */

  width: 100%;
}

.formLineFineUs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 180px;
  /* border: black solid 1px; */
  width: 100%;
}

.contactsTitle a {
  text-decoration: none;
  color: red;
}

.contactsTitle span {
  font-size: 20px;
}
.contactsLine {
  width: 265px;
  height: 1px;
  border-top: solid red 2px;
  margin: 5px 0;
}
.mainLine {
  width: 1230px;
  border-top: solid red 5px;
}

.getInTouch {
  font-size: 60px;
  color: rgb(255, 153, 37);
}

.phone {
  margin: 20px;
  color: aliceblue;
}
.email {
  margin: 20px;
  color: aliceblue;
}

.phoneInput {
  width: 500px;
  height: 40px;
  margin-bottom: 10px;
}

.emailInput {
  width: 500px;
  height: 40px;
  margin-bottom: 10px;
}

.contactsForm {
  margin-bottom: 125px;
}

.messageInput {
  width: 500px;
  border: none;
  height: 100px;
  margin-top: 4px;
}

.secondryLine {
  height: 400px;
  width: 0px;
  margin: 0px 20px 125px;
  border-left: solid red 5px;
}

.findUs {
  font-size: 50px;
  color: rgb(255, 153, 37);
}

.lilMap {
  margin-bottom: 125px;
  width: 500px;
  height: 270px;
}

.contactsBtn {
  color: white;
  background: red;

  font-size: 20px;
  border: none;
  padding: 7px;
  width: 500px;
  margin-top: 10px;
}

.contactsBtn:hover {
  opacity: 0.7;
}
@media (max-width: 480px) {
  .contactsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    text-align: center;
    margin: 40px 0 60px;
  }
  .formLineFineUs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
  }
  .contactsTitle a {
    text-decoration: none;
    color: red;
    margin-right: 5px;
  }
  .contactsForm {
    margin-bottom: 10px;
  }

  .contactsBtn {
    font-size: 14px;
    border: none;
    padding: 4px;
    width: 300px;
  }
  .mainLine {
    display: none;
  }

  .phoneInput {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
  }

  .emailInput {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
  }

  .contactsForm {
    margin-bottom: 125px;
  }

  .messageInput {
    width: 300px;
    border: none;
    height: 70px;
    margin-top: 4px;
  }

  .secondryLine {
    display: none;

    height: 0px;
    width: 0px;
    margin: 0px 20px 12px;
  }
  .theContactPage {
    /* padding-left: 40px; */
  }
  #contacts {
    margin: 0 50px;
    text-align: center;

    border: none;

    box-shadow: 5px 5px 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    /* height: 480px; */
    padding: 0 20px 10px;
    margin: 20px 0;
    width: 90%;
    border-radius: 0;
  }
  .lilMap {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
  }
}
