#contacts {
  margin: 0px;
  color: black;
  /* border: black solid 1px; */
  background: rgb(0, 87, 99);
  border: none;
  margin: 90px 60px;
  border-radius: 40px;
  box-shadow: 5px 5px 20px;
  padding: 100px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1000px) {
  #contacts {
    margin: 0px;
    text-align: center;
  }
}

.contactsTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  /* border: solid black 1px; */

  width: 100%;
}
@media (max-width: 1000px) {
  .contactsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    text-align: center;
    margin: 40px 0 60px;
  }
}
.formLineFineUs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 180px;
  /* border: black solid 1px; */
  width: 100%;
}
@media (max-width: 1000px) {
  .formLineFineUs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
  }
}
.contactsTitle a {
  text-decoration: none;
  color: red;
}
@media (max-width: 1000px) {
  .contactsTitle a {
    text-decoration: none;
    color: red;
    margin-right: 5px;
  }
}
.contactsTitle span {
  font-size: 20px;
}
.contactsLine {
  width: 265px;
  height: 1px;
  border-top: solid red 2px;
  margin: 5px 0;
}
.mainLine {
  width: 1230px;
  border-top: solid red 5px;
}

@media (max-width: 1000px) {
  .mainLine {
    width: 300px;
    border-top: solid red 5px;
    margin-bottom: 40px;
  }
}
.getInTouch {
  font-size: 60px;
  color: rgb(255, 153, 37);
}
@media (max-width: 1000px) {
  .getInTouch {
    font-size: 50px;
  }
}
.phone {
  margin: 20px;
  color: aliceblue;
}
.email {
  margin: 20px;
  color: aliceblue;
}

@media (max-width: 1000px) {
  .phone {
    margin: 06px 0 20px 5px;
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .email {
    margin: 06px 0 20px 5px;
    font-size: 15px;
  }
}
.phoneInput {
  width: 500px;
  height: 40px;
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  .phoneInput {
    width: 300px;
    height: 20px;
    font-size: 12px;
    margin-bottom: 2px;
  }
}
.emailInput {
  width: 500px;
  height: 40px;
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  .emailInput {
    width: 300px;
    height: 20px;
    font-size: 12px;
    margin-bottom: 2px;
  }
}
.contactsForm {
  margin-bottom: 125px;
}
@media (max-width: 1000px) {
  .contactsForm {
    margin-bottom: 55px;
  }
}
.messageInput {
  width: 500px;
  border: none;
  height: 100px;
  margin-top: 4px;
}
@media (max-width: 1000px) {
  .messageInput {
    width: 300px;
    border: none;
    height: 60px;
    font-size: 12px;
  }
}

.secondryLine {
  height: 400px;
  width: 0px;
  margin: 0px 20px 125px;
  border-left: solid red 5px;
}
@media (max-width: 1000px) {
  .secondryLine {
    height: 3px;
    width: 300px;
    margin: 0px;
    border: solid red 3px;
  }
}
.findUs {
  font-size: 50px;
  color: rgb(255, 153, 37);
}
@media (max-width: 1000px) {
  .findUs {
    font-size: 40px;
    margin-top: 30px;
  }
}
.lilMap {
  margin-bottom: 125px;
}
@media (max-width: 1000px) {
  .lilMap {
    margin-bottom: 125px;
  }
}

.contactsBtn {
  color: white;
  background: red;
  /* outline: solid 3px rgb(0, 195, 255); */
  /* transition: all ease-in-out 300ms; */

  font-size: 20px;
  border: none;
  padding: 7px;
  width: 500px;
  margin-top: 10px;
}
@media (max-width: 1000px) {
  .contactsBtn {
    color: white;
    background: red;
    font-size: 15px;
    border: none;
    padding: 3px;
    width: 300px;
    margin-top: 2px;
  }
}
.contactsBtn:hover {
  opacity: 0.7;
  /* padding: 5px;

  border: red solid 2px;
  font-weight: bold;
  color: red;
  background: white; */
  /* outline: solid 3px rgb(0, 195, 255); */
  /* outline-offset: 4px; */
}
/* .apply button {
 
  background: rgb(0, 195, 255);
 
  border: none;

 
  padding: 5px 14px;
 
  cursor: pointer;
 

  color: white;
  text-decoration: none;
  outline: solid 3px rgb(0, 195, 255);
  transition: all ease-in-out 300ms;
}
.apply button:hover {
  outline: solid 3px rgb(0, 195, 255);
  outline-offset: 4px;
} */
